@charset "utf-8";
/* jQuery UI specific styling */

.paging_two_button .fg-button
{
 float: left;
 cursor: pointer;
}

.dataTables_paginate
{
 width: auto;
}

/* DataTables display */

table.display thead th
{
 padding: 3px 0px 3px 10px;
 cursor: hand;
}

/* DataTables features */

.dataTables_processing
{
 position: absolute;
 top: 0px;
 left: 50%;
 width: 250px;
 margin-left: -125px;
 border: 1px solid #ddd;
 text-align: center;
 color: #999;
 font-size: 11px;
 padding: 2px 0;
}

.dataTables_length
{
 width: 40%;
 float: left;
}

.dataTables_filter
{
 width: 50%;
 float: right;
 text-align: right;
}

.dataTables_info
{
 width: 50%;
 float: left;
}

.dataTables_paginate
{
 float: right;
 text-align: right;
}

/* Pagination nested */

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next
{
 height: 19px;
 width: 19px;
 margin-left: 3px;
 float: left;
}

/* Sorting classes for columns */
/* For the standard odd/even */

tr.odd
{
 background-color: rgb(24, 24, 24);
}

tr.even
{
 background-color: rgb(48, 48, 48);
}

tr.odd td.sorting_1
{
 background-color: rgb(63, 63, 63);
}

tr.even td.sorting_1
{
 background-color: rgb(127, 127, 127);
}

/* Misc */

.top, .bottom
{
 padding: 15px;
 background-color: transparent;
 border: 1px solid rgb(255, 255, 255);
}

.top .dataTables_info
{
 float: none;
}

.clear
{
 clear: both;
}

.dataTables_empty
{
 text-align: center;
}
